// Navigation Styles here

    nav {
        .flex(flex-end, flex-end);
    }
        a {
            text-decoration: none;
            font-size: 1.8em;
            padding-right: @side;
            padding-bottom: 1rem;
            color: @font-color; 
        }



